/* p stuffs */
p {
  font-family: "El Messiri", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(37, 91, 240);
}

h1 {
  color: rgb(88, 126, 38);
}

h3 {
  color: rgb(90, 19, 126);
}

/* list stuff */
ol, ul {
  color: rgb(30, 92, 63);
  font-size: 20px;
}

body {
  background-color: cornsilk;
}