*, *::before, *::after {
  box-sizing: border-box;
}
/* container stuffs */
.container {
  padding: 10px 0px 0px 20px;
}

/* para stuffs */
p {
  font-family: "El Messiri", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(37, 91, 240);
}

/* links stuffs */
a {
  display: inline-block ;
  border-radius: 0.5em;
  padding: 15px;
  color: inherit;  
  text-decoration: none;
  outline: 4px solid rebeccapurple;
  border: 4px groove rgb(211, 203, 219);
}

a:hover {
  color: cornsilk;
  background-color: #255bf0;
}

h1 {
  color: rgb(88, 126, 38);
}

h3 {
  color: rgb(90, 19, 126);
}

#head-main {
  border: 4px solid salmon;
  border-style: none none solid;
  display: inline-block;
  margin: unset;
  padding: 0px 10px 5px;
}

/* list stuff */
ol, ul {
  color: rgb(30, 92, 63);
  font-size: 20px;
  margin: 30px 70px;
}

/* body stuffs */
body {
  background-color: cornsilk;
  line-height: 2em;
}

