/* Background-color for pages. */
body {
    background-color: aqua;
    border: 7px solid rgb(20, 77, 199);
    padding: 10px;
    margin: 10px;
    width: 900px;
    margin: 0 auto;
}

/* Text colors and font-text */
h1{
    color: #B75CF4;
    text-align: center;
    background-color: gold;
    border: solid blueviolet 2px;
} 

button {
    font-weight: 700;
    font-family: sans-serif;
    background-color:#F45CE5;
    font-size: medium;
}


.style1 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(214, 122, 127);
    display: flexbox;
    
}

.lighter {
    font-size: 20px;
    font-weight: lighter;
    color: blue;
    text-align: center;
}



/* line height */
* {
    line-height: 1.5;
}

/* Images size */

img {
    height: auto;
    width: 500px;
    border: blue solid;
    margin-left: 190px;
}


.proportioned {
    height: auto;
    width: 200px;
    border: blue solid;
    margin-left: 330px;
}

