/* Links */
a {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: deeppink;
}

body {
    line-height: 1cm;
}

/*  */
.description {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
}

footer {
    color: chocolate;
    font-size: 30px;
}

.recipes-names {
    color: cadetblue;
}

h1 {
    font-size: medium;
    color: darkcyan;
}

/* spin animation for h1 mainpage */
.spin {
    width: 100px;
    height: 100px;
    background-color: #0CB1C4;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transform: rotate(.03turn); 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}