a {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: deeppink;
}

body {
    line-height: 1cm;
}

.description {
    font-weight: 500;
}

footer {
    color: chocolate;
}

.recipes-names {
    color: cadetblue;
}