/* Links */
a {
    text-decoration: none;
    color: cadetblue;
}
a:hover {
    color: deeppink;
}

body {
    line-height: 1cm;
}

/*  */
.description {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
}

footer {
    color: chocolate;
    font-size: 30px;
}

.recipes-names {
    color: cadetblue;
}

h1 {
    font-size: medium;
    color: darkcyan;
}